@model List<string>

@{
    ViewBag.Title = "Index";
}

<h2>Список всех блогов</h2>

@foreach (var elem in Model)
{
    <p>@Html.ActionLink(elem, "Blog", "Home", new { id = elem.Replace(" ", "") ,  },null)</p>
}


